# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
coverage.xml

# Virtual environments
.venv/
venv/
env/
ENV/

# Home Assistant dev
.HA_VERSION
home-assistant.log*
.storage/
.cloud/

# Editors / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Local secrets / env files
.env
.env.local
secrets.yaml

#
/_ignore/
